In [312]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from  sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from  sklearn.metrics import *
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn import model_selection
import plotly.express as px


from sklearn.ensemble import RandomForestRegressor

In [313]:
!pip install rfpimp
import rfpimp

Requirement already satisfied: rfpimp in c:\users\amela\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: numpy in c:\users\amela\anaconda3\lib\site-packages (from rfpimp) (1.18.1)
Requirement already satisfied: pandas in c:\users\amela\anaconda3\lib\site-packages (from rfpimp) (1.0.1)
Requirement already satisfied: matplotlib in c:\users\amela\anaconda3\lib\site-packages (from rfpimp) (3.1.3)
Requirement already satisfied: stratx>=0.2 in c:\users\amela\anaconda3\lib\site-packages (from rfpimp) (0.3)
Requirement already satisfied: scikit-learn in c:\users\amela\anaconda3\lib\site-packages (from rfpimp) (0.22.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\amela\anaconda3\lib\site-packages (from pandas->rfpimp) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\amela\anaconda3\lib\site-packages (from pandas->rfpimp) (2019.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\amela\anaconda3\lib\site-packages (from matplotlib->rfpimp) (2.4.6)
Requirement already satisfied: cycler>=0.10 in c:\users\amela\anaconda3\lib\site-packages (from matplotlib->rfpimp) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\amela\anaconda3\lib\site-packages (from matplotlib->rfpimp) (1.1.0)
Requirement already satisfied: colour in c:\users\amela\anaconda3\lib\site-packages (from stratx>=0.2->rfpimp) (0.1.5)
Requirement already satisfied: numba in c:\users\amela\anaconda3\lib\site-packages (from stratx>=0.2->rfpimp) (0.48.0)
Requirement already satisfied: sklearn in c:\users\amela\anaconda3\lib\site-packages (from stratx>=0.2->rfpimp) (0.0)
Requirement already satisfied: scipy in c:\users\amela\anaconda3\lib\site-packages (from stratx>=0.2->rfpimp) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\amela\anaconda3\lib\site-packages (from scikit-learn->rfpimp) (0.14.1)
Requirement already satisfied: six>=1.5 in c:\users\amela\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->rfpimp) (1.14.0)
Requirement already satisfied: setuptools in c:\users\amela\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->rfpimp) (45.2.0.post20200210)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in c:\users\amela\anaconda3\lib\site-packages (from numba->stratx>=0.2->rfpimp) (0.31.0)

In [314]:
df = pd.read_csv("../data/clean/bank-additional-clean.csv")
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

## Divide to train and test data

In [315]:
df_train, df_test = train_test_split(df, test_size=0.33, random_state=42)
df_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
28727,31,admin.,married,high.school,no,yes,no,cellular,may,tue,...,2,999,1,failure,-1.8,92.893,-46.2,1.344,5099.1,no
19268,49,blue-collar,married,basic.4y,no,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
34543,26,admin.,single,university.degree,no,yes,no,cellular,jul,wed,...,1,999,0,nonexistent,-2.9,92.469,-33.6,1.029,5076.2,yes
22177,33,admin.,single,university.degree,no,no,no,cellular,aug,fri,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
25674,33,admin.,single,professional.course,no,yes,no,telephone,nov,fri,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,36,blue-collar,married,basic.9y,no,no,no,telephone,may,wed,...,6,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11284,45,admin.,married,university.degree,no,no,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
38158,63,retired,married,basic.4y,no,yes,no,cellular,nov,fri,...,1,3,2,success,-1.1,94.767,-50.8,1.049,4963.6,yes
860,34,blue-collar,married,basic.6y,no,yes,no,telephone,may,wed,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
15795,53,admin.,married,university.degree,no,no,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no

## Encoding Categorical Data

In [316]:
categorical_columns = ["job", "marital", "education", "housing", "default", "loan", "contact", "education", "day_of_week", "poutcome"]

In [317]:
for col in categorical_columns:
    df_train[col] = df_train[col].astype('category')

In [318]:
df_train = pd.get_dummies(df_train)
df_train = df_train.rename(columns={'y_yes': 'y'})

In [319]:
df_train = df_train.drop(['y_no'], axis=1)

In [320]:
df_train.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_divorced',
       'marital_married', 'marital_single', 'education_basic.4y',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'default_no', 'default_yes',
       'housing_no', 'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'month_apr', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success', 'y'],
      dtype='object')

In [321]:
X = df_train.loc[:, df_train.columns != 'y']
y = df_train.loc[:, df_train.columns == 'y']

In [322]:
y

       y
28727  0
19268  0
34543  1
22177  0
25674  0
...   ..
6265   0
11284  0
38158  1
860    0
15795  0

[25616 rows x 1 columns]

# Traint Test Split

In [323]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

ValueError: not enough values to unpack (expected 4, got 2)

In [ ]:
model=DecisionTreeClassifier(max_depth=10)
model.fit(X_train, y_train)

# Model Evaluation

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred)

In [ ]:
precision_score(y_test, y_pred)

In [ ]:
recall_score(y_test, y_pred)

In [ ]:
f1_score(y_test, y_pred)

# K-Folds Cross Validation

In [ ]:
model=DecisionTreeClassifier(max_depth=7)
scores = cross_validate(model, X, y, cv=3, scoring=('accuracy', 'average_precision', 'recall','f1'))

In [ ]:
scores

# Random Forest

In [ ]:
rfc = RandomForestClassifier(n_estimators=10)
rfc_scores = cross_validate(rfc, X, y.values.ravel(), cv=3, scoring=('accuracy', 'average_precision', 'recall','f1'))

In [ ]:
rfc_scores

In [ ]:
report = pd.DataFrame(index=list(rfc_scores.keys())[2:], columns=['Decision Tree', 'Random Forest'])
for key in report.index:
  report.loc[key] = [np.mean(scores[key]), np.mean(rfc_scores[key])]

report['Improvement'] = report['Random Forest'] - report['Decision Tree']
report *= 100
report = report.astype(float).round(1)

In [ ]:
report # decision tree depth 7 - the best

# Feature Importance

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train.values.ravel())
importance = rfpimp.importances(rfc, X_test, y_test)
rfpimp.plot_importances(importance)

In [ ]:
model=DecisionTreeClassifier(max_depth=7)
rfc.fit(X_train, y_train.values.ravel())
importance = rfpimp.importances(rfc, X_test, y_test)
rfpimp.plot_importances(importance)

# Predicting Output of the Train Dataset to calculate model error

In [ ]:
train_predict = rfc.predict(X_test)

In [ ]:
mean_squared_error(y_test, train_predict)